{% extends "index.html" %}

{% block main %}
<article itemscope itemtype="http://schema.org/BlogPosting">
    <h1>
        <a href="..">..</a>/{{ section.title }}
        {% if section.extra.repo %}
        <a itemprop="url" href="https://github.com/{{ config.extra.github }}/{{ section.extra.repo }}" target="_blank" rel="noopener noreferrer">
            <img class="icon" src="{{ config.base_url }}/icons/github.svg" alt="Github">
        </a>
        {% endif %}
    </h1>

    <div class="border"></div>
    {% if section.pages %}
    <ul>
        {% for p in section.pages %}
        <li>
            {%if p.date %}
            <small>{{ p.date }}</small>
            {% endif %}
            <a href="{{ p.permalink | safe}}">
                {{ p.title }}
            </a>
        </li>
        {% endfor %}
    </ul>

    {% endif %}
    <div itemprop="articleBody" class="article">
        {{ section.content | safe }}
    </div>
</article>
{% endblock main %}
